node_modules/
.venv/
venv/
**/venv/
**/node_modules/
**/.venv/
**/__pycache__/
__pycache__/
**/*.pyc
*.pyc
# local face embedding db
backend/authorized_embeddings.db
*.db
authorized_embeddings.db
**/authorized_embeddings.db

# DeepFace / Keras / TensorFlow local model cache
backend/.deepface/
**/.deepface/
.keras/
**/.keras/
